/* Links
=================================*/
a {
  color: black;
}

/* Layout
================================*/
h3,
body {
  padding-left: 50px;
}

.navbar,
body {
  max-width: 1000px;
}

#myAbout,
#myWork {
  padding-top: 180px;
  padding-bottom: 50px;
}

 #myContact {
  padding-top: 180px;
  padding-bottom: 230px;
}


/* Styles
====================================*/
.navbar {
  background-color: #FFF;
}

/* Images
===================================*/
img {
  width: 800px;
  height: 540px;
}
