/* Links
=================================*/
a {
  color: black;
}

/* Layout
================================*/
h3,
body {
  padding-left: 50px;
}

.navbar,
body,
.row {
  max-width: 1000px;
}

#myAbout,
#myWork {
  padding-top: 180px;
}

 #myContact {
  padding-top: 180px;
  padding-bottom: 230px;
}

#h3Work {
  margin-top: 220px;
}

#pAbout {
  margin-top: 0px;
}

#pContact {
  margin-top: 280px;
}


/* Styles
====================================*/
.navbar {
  background-color: #FFF;
}

span {
  color: #ff4d4d;
  font-family: 'Lucida Console', Monaco, monospace;
}

/* Images
===================================*/
img {
  width: 800px;
  height: 540px;
}

#myAboutImg {
  width: 400px;
  height: 50%;
  float: left;
  padding-right: 10px;
}

/* Media Queries
=================================*/

@media screen and (max-width: 1000px){
  #h3Work {
    margin-top: 220px;
  }
}

@media screen and (max-width: 768px) {
  }
  #h3Work {
    margin-top: 220px;
  }
}

@media screen and (max-width: 765px) {
  #h3Work {
    margin-top: 0px;
  }
}
